[submodule "TriangleDrawer/lib/eigen"]
	path = TriangleDrawer/lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/Qt-Advanced-Docking-System"]
	path = lib/Qt-Advanced-Docking-System
	url = git@github.com:githubuser0xFFFF/Qt-Advanced-Docking-System.git
